<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--  加载properties文件  -->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--  创建数据源  -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="filters" value="stat"/>
    </bean>
    <!--  创建SqlSessionFactoryBean  -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--  注入数据  -->
        <property name="dataSource" ref="dataSource"/>
        <!--  配置别名  -->
        <!--        <property name="typeAliasesPackage" value="com.bruce.entity"/>-->
        <!--  加载映射配置文件  -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <!--  加载核心配置文件  -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!--  创建MapperScannerConfigurer  -->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bruce.mapper"/>
    </bean>

</beans>
